@* Indicates this view expects to receive a list of products from the controller*@
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Shop For " + ViewData["Category"];
}

<h1>Shop for @ViewData["Category"]</h1>

@* Show a list of products *@
<section class="row card-group">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 mb-3">
            <div class="card mb-4">
                <div class="card-body text-center h-100">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                        @product.Name
                    </a>
                    <h6>@product.Price.ToString("C")</h6>
                    @if (!String.IsNullOrEmpty(product.Image))
                    {
                        <img src="~/img/@product.Image" 
                        class="img-thumbnail"
                        style="max-width:250px"
                        alt="Image of a @product.Name"
                        />    
                    }
                    else
                    {
                        <img src="~/img/placeholder.png"
                             class="img-thumbnail"
                             style="max-width:250px"
                             alt="Placeholder Image" />
                    }
                    <hr />
                    <form method="post" action="/Store/AddToCart">
                        <input type="hidden" id="ProductId" value="@product.ProductId" />
                        <div>
                            <label class="form-control" for="Quantity">Qty:</label>
                            <input 
                                class="form-control"
                                type="number"
                                value="1"
                                min="1"
                                max="@product.Stock"
                                name="Quantity"
                                id="Quantity" />
                        </div>
                        <button class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>   
        
    }
</section>